_*
.*
!.gitignore
./dist
./dist.tar.xz
**/*.log
**/*.csv
**/*.xls*
**/*.RData
data-raw/
output/*
keys.json
dbmongo/data-raw
dbmongo/dbmongo
.vscode/*
dbmongo/static/*
archive/*
rsignauxfaibles/RData/*
rsignauxfaibles/exploration/*
rsignauxfaibles/man/*
rsignauxfaibles/logs/*
rsignauxfaibles/tests/testthat/logs/*
rsignauxfaibles/NAMESPACE
*.Rcheck
rsignauxfaibles/**/*.model
rsignauxfaibles/**/*.temap
dbmongo/config.toml*
dbmongo/debug
dbmongo/dbmongo
dbmongo/tools/fakeData/config.toml
.Rproj.user
*.orig
*.rdx
*.rdb
*.patch
dbmongo/js/node_modules
dbmongo/export/mongo_dump
**/tags
