!.github
!.gitignore
!js/.nvmrc
!js/.nycrc
!js/.editorconfig
!js/.eslintrc.js
!js/.prettierrc.js
dist
dist.tar.xz
**/*.log
**/*.xls*
**/*.RData
**/*.toml
!config-sample.toml
data-raw/
output/*
keys.json
data-raw
sfdata
**/.vscode
static/*
archive/*
rsignauxfaibles/RData/*
rsignauxfaibles/logs/*
rsignauxfaibles/tests/testthat/logs/*
exploration/*
*.Rcheck
rsignauxfaibles/**/*.model
rsignauxfaibles/**/*.temap
exploration/*
debug
.Rproj.user
*.orig
*.rdx
*.rdb
*.patch
js/node_modules
js/.nyc_output
export/mongo_dump
**/tags
script/archive/*
js/test/test_data_algo2
.gitsecret/keys/random_seed
!*.secret
tests/input-data/RawData.sample.json
tests/output-snapshots/reduce-Features.golden.json
tests/output-snapshots/reduce-map-output.golden.json
tests/output-snapshots/test-compact.golden.json
dist.tar.gz
