{
  "extension": [
    ".js",
    ".ts"
  ],
  "include": [
    "**/*.ts",
    "**/*.js"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*_test*.ts",
    "**/*_test*.js"
  ],
  "require": [
    "ts-node/register"
  ],
  "cache": true,
  "sourceMap": false,
  "instrument": true,
  "all": true
}
